*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* Header */
header{
    background-image: url('../images/banner/banner2.png');
    width: 1600px;
    height: 809px;
    text-align: right;
   position: relative;
    
}
div{
    width: 525px;
    height: 228px;
    margin-right: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
    
}

