*{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}
/* Header */
.header{
    background-image: url('../images/banner/banner2.png');
    width: 1600px;
    height: 809px;
    display: flex;
    
   
  
    
}
.header-text{
    width: 525px;
    margin-top: 270px;
    margin-left: 850px;
    text-align: end;

}
.header-title{
    font-weight: 700;
    font-size: 65px;
    color: #151414;
}
.header-description{
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 25px;
    margin-bottom: 20px;
}
.btn-primary{
    width: 160px;
    height: 64px;
    background-color: #F15B22;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 18px 24px;
    font-weight: 600;
    font-size: 20px;

}

.failures{
    display: flex;
    justify-content: space-around;
    width: 940px;
    height: 260px;
    margin: auto;
    margin-top: 100px;

}
.failures-text{
    width: 416px;
    height: 400px;
}
.failures-title{
    width: 288px;
   height: 94px;
   color: #151414;
   font-weight: 700;
    font-size: 40px;
}
.failures-description{
    width: 416px;
    height: 104px;
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
}
.failures-list{
    width: 349px;
    height: 162px;
    color: #444343;
    padding-bottom: 8px;
    line-height: 30px;

}
/* li{
    list-style-position: inside;
    list-style-image: url(../images/icons/ok.png);
    font-size: 20px;
    margin: 20px;
   
    
} */